[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
marshmallow = "*"
requests = "*"
gunicorn = "*"
pyjwt = "*"
connexion = {extras = ["flask", "swagger-ui"], version = "*"}
uvicorn = "*"

[dev-packages]
uvicorn = "*"

[requires]
python_version = "3.11"
